body{
	margin: 0;
	padding: 0;
}

.heading{
	color: #002378;
	margin-top: 12px;
	font-weight: bolder;
	font-size:  50px;
}

.notifications{
	margin: 0;  font-size: 20px; background: lightgreen; display: block;
	margin-top: 10px;
}

.data{
	margin-top: 25px;
	width: 100%;
}

.country-no{
	font-size: 40px;
	color: red;
	font-size: bold;
}
.card-holder{
	width: auto;
	justify-content: center;
	margin-top: 30px;
	align-content: center;
	align-items: center;	
	display: flex;
	
}
.card{
	float: left;
	width: 43%;	
	height: auto;
    margin: 12px;
    padding: 10px;
    position: relative;
	box-shadow: 2px 2px 3px 3px 1px lightgray;
	border-width: 4px;
	border-style: solid;
	border-radius: 10px;
	border-color: lightgrey;
	font-size: 37px;
	
}
#cases, #recovered, #deaths, #active
{
	font-weight: bolder;

}
#no-cases, #no-recovered, #no-active, #no-deaths
{
	padding-top: 15px;
}

.noholder{
	margin: 15px;
	margin-top: 23px;
	width: 60%;
	background: lightgray;
	border-radius: 10px;
	padding: 12px;

}
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

a{
	text-decoration: none;

}

#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 12px;
}